@tailwind base;
@tailwind components;
@tailwind utilities;

.disassemble-congig-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-block{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0;
 border: none;
 font: inherit;
 color: inherit;
 background-color: transparent;
 filter: brightness(30%);    
}
.active-btn{
  filter: brightness(100%);
  cursor: pointer;
 }

body {
  @apply bg-zinc-700 text-white 
}
.select{
  box-shadow: 0px 0px 10px 0px rgba(188, 248, 148, 0.91);
}
.h2-title {
  @apply block w-full text-center text-2xl
}
.small-block {
  @apply  min-h-[250px] p-5 pt-5 w-[400px] mx-auto shadow-xl rounded-3xl bg-zinc-900
}
.big-block {
  @apply max-w-sm max-h-[800px] mx-auto shadow-xl rounded-3xl bg-zinc-900
}
.shadow-inset-md {
  box-shadow: inset 0px 0px 14px 5px rgba(0,0,0,0.75);
}